body {
    margin: auto;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(247, 2, 2, 0.7), rgb(255, 254, 254, 0.4));
}

.App {
    border: 1px solid black;
    position: relative;
}

.carousel-container {
    width: 70rem;
    position: absolute;
    margin: auto;
    inset: 6rem 0 0 0;
    justify-content: center;
}

.carousel-box {
    box-shadow: 4px 6px 24px 1px rgba(0, 0, 0, 0.55);
}

.carousel-box:hover {
    transform: scale(1.01);
    transition: ease-in-out 1s;
}